/**
 * jQuery Simple Grid
 * @version: 0.1 - 2012.07.30
 * @author: dudiq
 * @licence: MIT http://www.opensource.org/licenses/mit-license.php
 **/
.slow-scroll-lib{
    /*
        Please, do NOT add any props for this class
        This class is used for internal methods only
    */
}

.slow-scroll-lib-top, .slow-scroll-lib-left{
    position: absolute;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background: black;
    opacity: 0.5;
    top: 0px; left: 0px;
    z-index: 1000001;
}
.slow-scroll-lib-top{
    width: 4px;
    height: 100%;
}
.slow-scroll-lib-left{
    height: 4px;
    width: 100%;
}
.slow-scroll-lib-moving{
    -moz-user-select:none; -khtml-user-select:none; -webkit-user-select:none; user-select: none;
}